:root {
  --height-nav: 10vh;
  --color-base: #efefef;
  --color-base-alt: #ad7def;
  --color-base-dark: #ef7dad;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: linear-gradient(111deg, var(--color-base) 30%, var(--color-base-alt) 51%, var(--color-base-dark) 100%);
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  backdrop-filter: blur(0.8rem);
  height: var(--height-nav);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

li {
  list-style-type: none;
}

nav > ul {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
}

nav > aside {
  position: absolute;
}

section {
  display: flex;
  min-height: calc(100vh - var(--height-nav));
  scroll-margin-top: var(--height-nav);
}

#about {
  margin-top: var(--height-nav);
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#about p {
  font-size: 1.4rem;
  max-width: 33rem;
  margin-top: 1rem;
}

#about img {
  width: 20rem;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: -3px 5px 15px 8px rgba(0, 0, 0, 0.5);
}



@media screen and (prefers-reduced-motion: no-preference) {
	html {
    scroll-behavior: smooth;
  }
}
